{# templates/registration/register.html.twig #}

<h1>Registro de Usuario</h1>

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    <button type="submit">Registrarse</button>
{{ form_end(registrationForm) }}
